<div class="popup-main-panel popup-panel-box popup-commons-panel"
     id="supporter-KANBAN">

  <mat-card class="popup-kanban-card-wrapper
                    popup-panel-box popup-card-wrapper panel-main">
    <mat-card-header class="popup-panel-row header">
      <div>
        <div class="title-left-color"></div>
        <div class="popup-title-wrapper">
          <mat-card-title class="project-supporter-card-title popup-title">Kanban</mat-card-title>
          <br>
          <mat-card-subtitle class="popup-title">칸반을 움직이려면 프로필 이미지를 잡고 움직여주세요</mat-card-subtitle>
        </div>
      </div>
      <button class="popup-close-btn"
              mat-button
              (click)="onNoClick()">
        <i class="im im-x-mark"></i>
      </button>
    </mat-card-header>
    <mat-card-content class="popup-panel-row content">
      <hr>
      <!--#####여기서 팝업패널 내용 작성할 것######-->
      <div class="popup-panel-content">
        <div class="kanban-grid"
             cdkDropListGroup>
          <!--######칸반 셀 - 1-->
          <mat-card *ngFor="let group of kanbanGroupWrapper"
                    class="kanban-grid-cell card-1"
                    (pointerenter)="group.isFocused = true"
                    (pointerleave)="group.isFocused = false"
                    [ngClass]="{
                  'card-1-focused' : group.isFocused
                }"
                    [ngStyle]="{
                'height' : posCalcService.getHeightOfBrowser() - 220 + 'px'
               }">

            <mat-card-title class="kanban-title">
              {{group.title}}
              <hr>
            </mat-card-title>
            <mat-card-content class="kanban-drop-zone "
                              cdkDropList
                              [ngStyle]="{
                'height' : posCalcService.getHeightOfBrowser() - 330 + 'px'
               }"
                              [cdkDropListData]="group.kanbanItemList"
                              (cdkDropListDropped)="drop($event)">
              <!--그리드 셀 컨텐츠( 여기서 칸반 아이템 출력 )-->
              <!--칸반 아이템-->
              <mat-card *ngFor="let item of group.kanbanItemList"
                        cdkDrag
                        class="kanban-item-card">
                <mat-card class="example-custom-placeholder" *cdkDragPlaceholder></mat-card>
                <div class="kanban-item-title-left-color"></div>

                <mat-card-title class="kanban-item-title text-ellipsis"
                                style="margin-bottom: 20px">
                  {{item.title}}
                </mat-card-title>

                <mat-card class="kanban-item-manager-wrapper" cdkDragHandle>
                  <img mat-card-image
                       class="kanban-item-manager-image"
                       src="/assets/images/supporter/kanban/male.jpg"/>
                  <mat-card-subtitle class="kanban-item-manager-name">
                    사용자
                  </mat-card-subtitle>
                </mat-card>
                <!--마테리얼 칩 영역-->
                <app-kanban-tag-list [kanbanItem]="item">
                </app-kanban-tag-list>
              </mat-card>
              <!--칸반 아이템-->

            </mat-card-content>

          </mat-card>

        </div>
      </div>
      <!--####################################-->
    </mat-card-content>

  </mat-card>


</div>
