<div class="popup-main-panel popup-panel-box popup-commons-panel"
     [ngStyle]="{
            'left' :  posCalcService.calcPopupPanelLeftMargin() + 'px',
            'top' :  posCalcService.calcPopupPanelTopMargin() + 'px'
            }"
     id="supporter-KANBAN">
  <div class="popup-main-background"
       [ngStyle]="{
       'width': posCalcService.getWidthOfBrowser() + 'px',
       'height': posCalcService.getHeightOfBrowser() + 'px',
       'left' :  - posCalcService.calcPopupPanelLeftMargin() + 'px',
       'top' :  - posCalcService.calcPopupPanelTopMargin() + 'px'
       }"
       (click)="popupManagerService.emitBgClickedEvent()">
  </div>
  <mat-card class="popup-kanban-kard-wrapper
                    popup-panel-box popup-card-wrapper panel-main">
    <mat-card-header class="popup-panel-row header">
      <div>
        <div class="title-left-color"></div>
        <div class="popup-title-wrapper">
          <mat-card-title class="project-supporter-card-title popup-title">Kanban</mat-card-title>
          <br>
          <mat-card-subtitle class="popup-title">Project Supporter</mat-card-subtitle>
        </div>
      </div>
      <button class="popup-close-btn"
              mat-button
              (click)="popupManagerService.emitBgClickedEvent()">
        <i class="im im-x-mark"></i>
      </button>
    </mat-card-header>
    <mat-card-content class="popup-panel-row content">
      <hr>
      <!--#####여기서 팝업패널 내용 작성할 것######-->
      <div class="popup-panel-content">
        <div class="kanban-grid"
             cdkDropListGroup>
          <!--######칸반 셀 - 1-->
          <div *ngFor="let group of kanbanGroupWrapper"
               class="kanban-grid-cell">
            <mat-card style="text-align: center; height: 100%;">
              <mat-card-title class="kanban-title">
                {{group.title}}
                <hr>
              </mat-card-title>
              <mat-card-content class="kanban-drop-zone"
                                cdkDropList
                                [cdkDropListData]="group.kanbanItemList"
                                (cdkDropListDropped)="drop($event)">
                <!--그리드 셀 컨텐츠( 여기서 칸반 아이템 출력 )-->
                <app-kanban-item *ngFor="let item of group.kanbanItemList"
                                 cdkDrag
                                 [kanbanItem]="item">
                </app-kanban-item>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>
      <!--####################################-->
    </mat-card-content>

  </mat-card>


</div>
