.kanban-grid{
  /*height: 100%;*/
}
.kanban-grid:after{

}
.kanban-grid-cell{
  display: inline-block;
  width: 33.3%;
  float: left;
  /*height: 100%;*/
  /*box-shadow: 0 0 0 1px black;*/
}
.kanban-header{
  /*box-shadow: 0 0 0 1px black;*/
}
.kanban-title{
  height: 30px;
  margin-bottom: 40px;
}
