/* ******************************* */
/* ********* Home Header ********* */
/* ******************************* */
.home-header-wrapper{
  width: 100%;
  /*background: rgba(200, 0, 11, 0.45);*/
}
.header-toolbar{
  height: 62px;
  padding: 15px 30px;
  /*border-radius: 15px;*/
  /*background: rgba(200, 198, 16, 0.45);*/
}
.header-logo{
  margin-right: 16px;
  /*font-weight: bold;*/
  font-size: 23pt;
  cursor: pointer;
}
.header-sub{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13pt;
  color: rgba(0, 0, 0, 0.6);
}
.header-spacer{
  flex: 1 1 auto;
}
/* ******************************* */
/* ********* Home Header ********* */
/* ******************************* */
