<mat-form-field class="example-chip-list kanban-item-tagWrapper">
  <mat-chip-list #chipList >
    <mat-chip
      #tagViewItem
      *ngFor="let tagItem of kanbanItem.tagList"
      title="{{tagItem.title}}"
      [removable]="removable"
      (removed)="remove(tagItem)">
      {{tagItem.title}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #tagInput
           (focusin)="onTagInputerFocusIn()"
           (focusout)="onTagInputerFocusOut()"
           [formControl]="tagFormControl"
           [disabled]="kanbanItem.lockedBy && checkEditorIsAnotherUser(kanbanItem.lockedBy)"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tagItem of filteredTags | async" [value]="tagItem">
      {{tagItem.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
