<div>
  <mat-card class="supportBtnWrapper">
    <button *ngFor="let mode of selectableMode"
            [value]="mode"
            mat-button
            matTooltip="{{projectSupporterEnumService.getEnumArray()[mode]}}"
            matTooltipPosition="above"
            class="supportBtn"
            (click)="onClickPanelItem(mode)">
      <span class="selectable-icon {{projectSupporterEnumService.getSupporterIcon(mode)}}"></span>
    </button>
    <input #fileInput type="file" id="fileInput" (change)="onFileChange($event)" style="display: none"/>
  </mat-card>
</div>

