.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.kanban-item-edit-content{
  padding: 25px 12px;
}
.kanban-item-edit-button-wrapper{
  display: flex;
  flex-flow: row-reverse;
}
.kanban-item-edit-divider{
  margin-top: 16px;
  margin-bottom: 16px;
}
.kanban-group-section{
  margin-bottom: 20px;
}
.kanban-group-setting-wrapper{
  overflow-y: auto;
}
