.link-style-selector-mode-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

.link-style-selector-mode {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 33%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.color-selector {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
}

.link-selector {
  text-align: center;
}

.dash-checkbox {
  font-size: 12px;
}
