<div id="horizonContextMenu-Line" class="context-menu-wrapper"
     [hidden]="isHiddenSubPanel.isHidden(horizonContextMenuActions.ARROW_WING)"
     [style.left]="centerTop.x + 'px'"
     [style.top]="centerTop.y + 47 + 'px'">
  <mat-card class="sub-panel-wrapper">
    <div class="circle-selector-wrapper">
      <div *ngFor="let style of arrowStyles" class="selector" (click)="onClickArrowStyle(style)">
        <svg width="24" height="24">
          <use [attr.href]="'/assets/images/context-menu/links.svg#' + style"/>
          <use [attr.href]="'/assets/images/context-menu/links.svg#selected'" *ngIf="false"/>
        </svg>
      </div>
    </div>
  </mat-card>
</div>
