
<mat-card class="gachi-minimap">
  <div id="gachi-minimap-wrapper" class="minimapCanvasWrapper">
    <canvas id="gachi-minimap" class="minimap-canvas">

    </canvas>
  </div>
  <div class="minimap-tool">
    <div class="minimap-tool-Info">
      {{(100 * infiniteCanvasService.newZoom).toFixed(1)}}%
    </div>

    <button mat-button
            [ngStyle]="isFullScreen === true && { 'opacity': 1, 'font-weight' : 'bold', 'background': 'rgba(0,0,0,0.14)' }"
            (click)="toggleFullScreen()"
            class="minimap-tool-btn minimap-tool-fullScreen">
      <span class="selectable-icon minimap-full-screen"></span>
    </button>

    <button mat-button
            (click)="zoomControlService.zoomOutToCenter()"
            class="minimap-tool-btn minimap-tool-zoomOut">
      <span class="selectable-icon minimap-mag-minus"></span>
    </button>

    <button mat-button
            (click)="zoomControlService.zoomInToCenter()"
            class="minimap-tool-btn minimap-tool-zoomIn">
      <span class="selectable-icon minimap-mag-plus"></span>
    </button>

  </div>
</mat-card>
