.icon-tools-pointer {
   background-image: url("/assets/images/tools/move.svg");
 }
.icon-tools-eraser {
   background-image: url("/assets/images/tools/eraser.svg");
 }
.icon-tools-brush {
  background-image: url("/assets/images/tools/brush.svg");
}
.icon-tools-move {
  background-image: url("/assets/images/tools/move.svg");
}
.icon-tools-selector {
  background-image: url("/assets/images/tools/selector.svg");
}
.icon-tools-highlighter {
  background-image: url("/assets/images/tools/highlighter.svg");
}

.tool-icon {
  display: inline-block;
  /* TODO : Highlighter 의 svg 가 표시되지 않는 이유는 viewBox 가 512 인데 width=24 로 리사이징이 되지 않아 안보임 */
  width: 24px;
  height: 24px;
}

.selectable-icon {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
}
