<div #wbCard class="wb-card-outer-wrapper"
     [ngStyle]="{ 'margin' : marginValue}"
     (pointerenter)="isHovering = true;"
     (pointerleave)="isHovering = false;">
  <mat-card class="wb-card-wrapper">
    <mat-card-content class="wb-card-content-wrapper"
                      matRipple
                      (click)="onWbCardClick()"
                      [ngStyle]="isHovering === true && { 'background' : '#7F7F7F' }">
      <img class="wb-card-profile-image"
           src="assets/images/normal-pages/project/whiteboard.png">

      <div class="wb-card-participant-wrapper wb-card-hidden"
           [ngClass]="{'wb-card-show' : isHovering}">
        <app-user-overlay-card *ngFor="let participant of whiteboardSession.connectedUsers"
                               [isHovering]="isHovering"
                               [userName]="websocketManagerService.getUserInfoByIdToken(participant).userName"
                               [marginValue]="'6px 0 6px 0'"
                               [imgSize]="'42px'"
                               [fontColor]="'white'"
                               [fontSize]="'16px'"
                               [enableSpashAnime]="true"
                               [imgSrc]="websocketManagerService.getUserInfoByIdToken(participant).profileImg">
        </app-user-overlay-card>
      </div>
    </mat-card-content>

    <div class="wb-card-header-wrapper">
      <div class="wb-card-title wb-card-bottom-row">
        <button mat-button class="wb-card-title-button">
          <mat-icon >turned_in_not</mat-icon>
        </button>
        <span class="text-ellipsis">Whiteboard : {{whiteboardSession.title}}</span>
        <span class="wb-bottom-spacer"></span>
        <button mat-button class="wb-card-title-button" [matMenuTriggerFor]="wbSessionMenu">
          <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #wbSessionMenu="matMenu">
          <button mat-menu-item (click)="onEditWbSessionBtnClick()"><span>화이트보드 수정하기</span></button>
          <button mat-menu-item (click)="onDeleteWbSessionBtnClick()"><span>화이트보드 삭제하기</span></button>
        </mat-menu>
      </div>
      <div class="wb-card-subtitle wb-card-bottom-row">
        <span class="text-ellipsis">최근 수정 : {{websocketManagerService.getUserInfoByIdToken(whiteboardSession.recentlyModifiedBy).userName}}</span>
      </div>
    </div>
  </mat-card>
</div>
