<div id="canvasWrapper"
    style="height: 100%;">
  <canvas id="cv1" class="mainCanvas"
          (mousemove)="ngCursorTracker($event)"
          (mousewheel)="zoomControlService.zoomControl($event)"
          (contextmenu)="contextMenuService.openMenu($event)">
  </canvas>
  <app-whiteboard-context-menu></app-whiteboard-context-menu>
  <div [hidden]="pointerModeManager.shape.isHiddenEditText">
    <div id="textEditorWrapper">
      <div class="verticalSpacer"></div>
      <div id="textEditor" contenteditable="true"></div>
      <div class="verticalSpacer"></div>
    </div>
  </div>
  <app-whiteboard-tool-panel id="toolPanel"></app-whiteboard-tool-panel>
  <app-tool-brush-panel [hidden]="panelManager.isHideBrushPanel" id="brushPanel"></app-tool-brush-panel>
  <app-tool-highlighter-panel [hidden]="panelManager.isHideHighlighterPanel" id="highlighterPanel"></app-tool-highlighter-panel>
  <app-tool-shape-panel [hidden]="panelManager.isHideShapePanel" id="shapePanel"></app-tool-shape-panel>
  <app-debuging-pannel></app-debuging-pannel>
  <app-whiteboard-minimap></app-whiteboard-minimap>
  <app-project-supporter-pannel class="supporterPanel"></app-project-supporter-pannel>
</div>
