.element{
  width: 100%;
  height: 100%;
}
.testPanel{
  display: inline-block;
  position: fixed;
  top: 36px;
  left: 36px;
}
.debugTable{
  display: inline-block;
  border: 1px solid black;
}
.debugTableWrapper{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50px;
  width: 400px;
}
.debugButton{
  width: 200px;
  height: 40px;
}
