<div id="canvasWrapper"
    style="height: 100%;">
  <canvas id="cv1" class="mainCanvas"
          (mousemove)="ngCursorTracker($event)"
          (mousewheel)="zoomControlService.zoomControl($event)">
  </canvas>
  <app-whiteboard-tool-panel id="toolPanel"></app-whiteboard-tool-panel>
  <app-tool-brush-panel [hidden]="panelManager.isHideBrushPanel" id="brushPanel"></app-tool-brush-panel>
  <app-tool-highlighter-panel [hidden]="panelManager.isHideHighlighterPanel" id="highlighterPanel"></app-tool-highlighter-panel>
  <!--<app-debuging-pannel></app-debuging-pannel>-->
  <app-whiteboard-minimap></app-whiteboard-minimap>
  <app-project-supporter-pannel class="supporterPanel"></app-project-supporter-pannel>
</div>
