
.mainCanvas {
  left: 0;
  top : 0;
  width: 100%;
  height: 100%;
}

app-whiteboard-tool-panel {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate(0, -50%);
}
app-tool-brush-panel, app-tool-highlighter-panel {
  position: absolute;
  left: 62px;
  top: 50%;
}
