//animation-activateSignCard-class
$anime-activateSignCard-duration: 0.5s;
$anime-activateSignCard-easing: ease-out;
$anime-activateSignCard-fillMod: forwards;
$anime-activateSignCard-delay: 0;
.do-anime-activateSignCard-normal {
  animation-name: anime-activateSignCard-keyframe;
  animation-iteration-count: 1;
  animation-duration: $anime-activateSignCard-duration;
  animation-delay: $anime-activateSignCard-delay;
  animation-timing-function: $anime-activateSignCard-easing;
  animation-fill-mode: $anime-activateSignCard-fillMod;
}

@keyframes anime-activateSignCard-keyframe {
  0% {
    transform: scale(0.1) rotateZ(270deg) translate(1000px, 2000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateZ(0deg) translate(0px, 0px);
    opacity: 1;
  }
}
