<div class="ctrl-pannel-wrapper brush-panel-wrapper">
  <div>
    <mat-slider min="1" max="25" step="1" value="1" (change)="onStrokeWidthChanged()"
                [(ngModel)]="strokeWidth"></mat-slider>
    <div *ngFor="let color of strokeColors" class="color-selector {{selectedToCSSClass(color)}}"
         [style.background-color]="colorToHTMLRGB(color)"
         (click)="onColorPickerClicked(color)">
    </div>
    <div class="color-selector-add"
         [cpOKButton]="true"
         [(colorPicker)]="colorPickerPicked"
         cpOutputFormat="rgba"
         cpAlphaChannel="disabled"
         (colorPickerSelect)="onAddColorClicked()">
      <svg viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
        <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/>
      </svg>
    </div>
  </div>
  <div>
    <div class="shape-selector" *ngFor="let key of shapes" (click)="onShapePickerClicked(key)">
      <svg class="tool-icon">
        <use [attr.xlink:href]="'/assets/images/tools/shape/' + key.toLowerCase() + '.svg#' + key.toLowerCase()"/>
      </svg>
    </div>
  </div>
</div>
