<mat-toolbar color="primary">
  <mat-icon class="main-article-card-title"
            style="margin: 0 6px 4px 0">developer_board
  </mat-icon>
  <span class="main-article-card-title">PROJECT : {{projectDto.projectTitle}}</span>
  <span><button mat-button [matMenuTriggerFor]="projectMenu"><mat-icon>more_vert</mat-icon></button></span>
  <mat-menu #projectMenu="matMenu">
    <button mat-menu-item (click)="onInviteBtnClick(projectDto)"><span>프로젝트에 초대하기</span></button>
  </mat-menu>
</mat-toolbar>

<!--프로젝트 Article #1-->
<mat-card class="project-item-wrapper" style="padding-left: 12px;">
  <mat-card-header>
    <mat-card-title style="display: flex;">
      <mat-icon class="main-article-card-title"
                style="margin: 0 6px 0 0">double_arrow</mat-icon>
      <span>KANBAN : In Progress</span>
    </mat-card-title>
    <span class="flex-spacer"></span>

    <div style="display: inline-block;">
      <button mat-button matTooltip="Open Kanban" (click)="openKanbanPanel('kanbanObject')">
        <div class="icon-tools-kanban main-kanban-icon"></div>
      </button>
    </div>

  </mat-card-header>

  <mat-card-content class="card-content-wrapper">
    <div *ngIf="inProgressGroup.length === 0">
      <h1><mat-icon style="margin: 0 16px 0 24px; font-weight: bolder;">error_outline</mat-icon>현재 진행중인 작업이 없어요</h1>
    </div>
    <app-kanban-card *ngFor="let kanbanItemDto of inProgressGroup"
                     [kanbanItemDto]="kanbanItemDto">
    </app-kanban-card>
  </mat-card-content>
</mat-card>
<!--프로젝트 Article #1-->

<!--프로젝트 Article #2-->
<mat-card class="project-item-wrapper">
  <mat-card-header>
    <mat-card-title style="display: flex;">
      <mat-icon class="main-article-card-title"
                style="margin: 0 6px 0 0">dashboard</mat-icon>
      <span>Collaborative Whiteboard</span>
    </mat-card-title>
    <span class="flex-spacer"></span>
    <span><button mat-button [matMenuTriggerFor]="wbSessionMenu">
      <mat-icon>more_vert</mat-icon></button>
    </span>
    <mat-menu #wbSessionMenu="matMenu">
      <button mat-menu-item (click)="onCreateWbSessionBtnClick()"><span>화이트보드 생성하기</span></button>
      <!--<button mat-menu-item (click)="onKanbanGroupSetting()">칸반 그룹 설정</button>-->
    </mat-menu>
  </mat-card-header>

  <mat-card-content class="card-content-wrapper">
    <div *ngIf="wbSessionList.length === 0">
      <h1><mat-icon style="margin: 0 16px 0 24px; font-weight: bolder;">error_outline</mat-icon>생성된 화이트보드가 하나도 없어요!</h1>
    </div>
    <app-whiteboard-card *ngFor="let wbSession of wbSessionList"
                         [whiteboardSession]="wbSession"
                         [projectId]="projectDto._id"
                         [marginValue]="'8px 8px 8px 0'"></app-whiteboard-card>
  </mat-card-content>
</mat-card>
<!--프로젝트 Article #2-->
