.brush-panel-wrapper {
  padding: 8px;
  transform: translate(0, -50%);
}

.color-picker {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid white;
  margin: 2px;
}
.color-picker-selected {
  background-color: white;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 8px;
  margin: 0 auto;
  vertical-align: middle;
}
