<mat-card class="kanban-item-card">
  <div class="kanban-item-title-left-color"></div>
  <mat-card-title class="kanban-item-title"
                  style="margin-bottom: 48px;">Kanban</mat-card-title>
  <div class="kanban-item-profile-image"></div>
  <mat-chip-list aria-label="Fish selection"
                 class="kanban-item-tagWrapper">
    <mat-chip class="kanban-item-tag">One fish</mat-chip>
    <mat-chip class="kanban-item-tag">Two fish</mat-chip>
    <mat-chip color="primary" selected
              class="kanban-item-tag">Primary fish</mat-chip>
    <mat-chip color="accent" selected
              class="kanban-item-tag">Accent fish</mat-chip>
  </mat-chip-list>
</mat-card>
