<mat-card class="kanban-item-card">
  <div class="kanban-item-title-left-color"></div>

  <mat-card-title class="kanban-item-title"
                style="margin-bottom: 20px">
    {{kanbanItem.title}}
  </mat-card-title>

  <mat-card class="kanban-item-manager-wrapper">
    <img mat-card-image
         class="kanban-item-manager-image"
         src="/assets/images/supporter/kanban/male.jpg"/>
    <mat-card-subtitle class="kanban-item-manager-name">
      사쿠라 아야네
    </mat-card-subtitle>
  </mat-card>

  <mat-chip-list aria-label="Fish selection"
                 class="kanban-item-tagWrapper">
    <mat-chip class="kanban-item-tag"
              *ngFor="let tag of kanbanItem.tagList">
      {{tag.title}}
    </mat-chip>
  </mat-chip-list>

  <!--
  <mat-chip class="kanban-item-tag">One fish</mat-chip>
    <mat-chip class="kanban-item-tag">Two fish</mat-chip>
    <mat-chip color="primary" selected
              class="kanban-item-tag">Primary fish</mat-chip>
    <mat-chip color="accent" selected
              class="kanban-item-tag">Accent fish</mat-chip>
  -->
</mat-card>
