.kanban-item-card{
  min-height: 84px;
  text-align: left;
  margin-bottom: 30px;
}
.kanban-item-title-left-color{
  display: inline-block;
  width: 8px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
}
.kanban-item-title{
  position: relative;
  left: 0;
  top: 0;
  width: 30%;
  padding: 3px 3px 1px 3px;
  border-bottom: 3px solid #c9c9c9;
  border-radius: 5%;
}
.kanban-item-manager-wrapper{
  /*border: 1px solid black;*/
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 2px 3px;
  margin: 0;
  text-align: center;
}
.kanban-item-manager-image{
  margin: 0;
  border: 2px solid #cecece;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /*border: 1px solid black;
  background-image: url("/assets/images/supporter/kanban/male.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.kanban-item-manager-name{
  /*border: 1px solid black;*/
  text-align: center;
  margin: 0;
}
.kanban-item-tagWrapper{
  position: relative;
  left: 0;
  top: 0;
  width: 92%;
  height: 20px;
}
.kanban-item-tag{
  display: inline-block;
}
