<div class="main-outer-wrapper">

  <div class="main-main-wrapper">
    <app-gachi-header [headerMode]="'mainpage'"></app-gachi-header>

    <mat-divider></mat-divider>

    <app-gachi-main-header [userName]="userName"></app-gachi-main-header>

    <mat-drawer-container class="example-sidenav-container" hasBackdrop="true">
      <mat-drawer #mainLeftDrawer
                  mode="push"
                  class="main-sidebar">
        <app-gachi-left-sidebar></app-gachi-left-sidebar>

      </mat-drawer>

      <mat-drawer-content class="main-article-wrapper">
        <mat-card class="main-article-card">
          <mat-toolbar>

            <mat-icon class="main-article-card-title"
                      style="margin: 0 6px 4px 0">developer_board</mat-icon>
            <span class="main-article-card-title">프로젝트 목록</span>
            <span >
              <button mat-button><mat-icon>more_vert</mat-icon></button>
            </span>
          </mat-toolbar>

          <mat-card class="project-item-wrapper">
            <app-project-card [projectTitle]="'MEC 강화병 연구'"
                              [projectSubTitle]="'UPGRADE PROJECT'"
                              [startDate]="'19.04.23'"
                              [inProgress]="'MEC 전용 카두세우스 엔진 개발'"></app-project-card>

            <app-project-card [projectTitle]="'어벤저 X-4번 추진기 수리'"
                              [projectSubTitle]="'URGENT PROJECT'"
                              [startDate]="'20.01.23'"
                              [inProgress]="'손상된 터빈엔진 교체중'"></app-project-card>
          </mat-card>
        </mat-card>

        <mat-card class="main-article-card">
          <mat-toolbar>

            <mat-icon class="main-article-card-title"
                      style="margin: 0 6px 4px 0">mood</mat-icon>
            <span class="main-article-card-title">같이보드의 사용설명서예요!</span>
          </mat-toolbar>

            <!--사용설명서 Outer Wrapper START-->
            <mat-card class="project-item-wrapper">
              <!--사용설명서 --- #1 START-->
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                      <span class="main-help-title">1. 프로젝트 생성하기</span>
                  </mat-expansion-panel-header>

                  <div class="main-help-text-wrapper">
                    <div class="help-left-column" style="background: red;"></div>
                    <div class="main-help-text">현재 페이지에서는 프로젝트를 생성할 수 있어요.</div>
                    <div class="main-help-text">프로젝트를 만들게 되면, 만든 사람이 해당 프로젝트의 관리자가 됩니다</div>
                    <div class="main-help-text">프로젝트의 관리자가 되면, 다른 사용자를 초대하거나 내보낼 수 있어요.</div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
              <!--사용설명서 --- #1 END-->

              <!--사용설명서 --- #1 START-->
              <mat-accordion>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <span class="main-help-title">2. 프로젝트 이용하기</span>
                  </mat-expansion-panel-header>

                  <div class="main-help-text-wrapper">
                    <div class="help-left-column" style="background: blue;"></div>
                    <div class="main-help-text">프로젝트를 생성하면, 다양한 기능을 이용할 수 있어요</div>
                    <div class="main-help-text">프로젝트 구성원과 실시간으로 같이 사용할 수 있는 칸반, 화이트보드 서비스등이 있답니다.</div>
                    <div class="main-help-text">프로젝트 하나당, 하나의 칸반을 사용할 수 있어요.</div>
                    <div class="main-help-text">화이트보드는 최대 5개까지 생성할 수 있습니다.</div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
              <!--사용설명서 --- #1 END-->

            </mat-card>
            <!--사용설명서 Outer Wrapper END-->

        </mat-card>

      </mat-drawer-content>
    </mat-drawer-container>

  </div>
  <div style="margin-top: 64px;"></div>
  <app-gachi-footer></app-gachi-footer>
</div>
