<div>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>
          <mat-icon class="example-icon"
                    aria-hidden="false"
                    aria-label="folder title edit button">edit
          </mat-icon>
          이름 바꾸기
        </span>
      <span class="flex-spacer"></span>
      <button mat-button color="Basic"
              (click)="onNoClick()">
        <mat-icon class="example-icon"
                  aria-hidden="false"
                  aria-label="create folder panel close button">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="folder-item-edit-content">
    <form #renameForm
          (ngSubmit)="onSubmit()"
          [formGroup]="newFileFormGroup"
          class="example-form">
      <!--#1 타이틀 변경-->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="folder title"
               formControlName="title">
        <mat-error *ngIf="newFileFormGroup.get('title').hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <br/>

      <mat-divider class="folder-item-edit-divider"></mat-divider>
      <div class="folder-item-edit-button-wrapper">
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="!newFileFormGroup.valid">Create</button>
      </div>
    </form>
  </div>
</div>
