<div id="horizonContextMenu-Line" class="context-menu-wrapper"
     [hidden]="isHiddenSubPanel.isHidden(horizonContextMenuActions.LINE)"
     [style.left]="centerTop.x + 'px'"
     [style.top]="centerTop.y + 47 + 'px'">
  <mat-card class="sub-panel-wrapper">
    <mat-slider min="1" max="25" step="1" [value]="strokeWidth" (change)="onStrokeWidthChanged($event)"></mat-slider>
    <div class="color-picker-wrapper">
      <div *ngFor="let color of colors; index as i" class="selector {{colorSelectedToHTML(i)}}"
           [style.background-color]="colorToHTMLRGB(i)"
           (click)="onColorPickerClicked(i)">
      </div>
      <div class="selector-add"
           [cpOKButton]="true"
           [(colorPicker)]="colorPickerPicked"
           cpOutputFormat="rgba"
           cpAlphaChannel="disabled"
           (colorPickerSelect)="onAddColorClicked()">
        <svg viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/>
        </svg>
      </div>
    </div>
  </mat-card>
</div>
