.file-card-wrapper{
  width: 220px;
  height: 61px;
  display: inline-block;
  flex-flow: column;
  justify-content: center;
  text-align: left;
  margin: 0 16px 16px 0;
  padding: 0;
  transition: 0.2s;
}
  .file-card-content-wrapper{
    display: flex;
    flex-flow: row;
    justify-content: left;
  }
    .file-card-left-side{
      padding: 16px;
      display: flex; flex-flow: row;
    }
    .file-title{
      font-size: 20px;
      max-width: 120px;
    }
    .clickable{
      cursor: pointer;
    }
