//animation-activateSignCard-class
$anime-activateSignCard-duration: 1.3s;
$anime-activateSignCard-easing: ease-out;
$anime-activateSignCard-fillMod: normal;
$anime-activateSignCard-delay: 0;
.do-anime-activateSignCard-normal {
  animation-name: anime-activateSignCard-keyframe;
  animation-iteration-count: 1;
  animation-duration: $anime-activateSignCard-duration;
  animation-delay: $anime-activateSignCard-delay;
  animation-timing-function: $anime-activateSignCard-easing;
  animation-fill-mode: $anime-activateSignCard-fillMod;
}

@keyframes anime-activateSignCard-keyframe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
