<div class="kanban-group-setting-wrapper scrollbar-warn">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>
          <mat-icon class="example-icon"
                    aria-hidden="false"
                    aria-label="kanban title edit button">warning
          </mat-icon>
          Warning
        </span>
      <span class="flex-spacer"></span>
      <button type="button" mat-button color="Basic"
              (click)="onNoClick()">
        <mat-icon class="example-icon"
                  aria-hidden="false"
                  aria-label="kanban close button">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="kanban-item-edit-content">


    <!--#### 칸반 그룹 Wrapper-->
    <mat-card-title>{{data.msg1}}</mat-card-title>
    <mat-card-subtitle style="color:red; font-weight: bolder;">
      <mat-icon>warning</mat-icon>
      {{data.msg2}}
    </mat-card-subtitle>

    <!--#3 버튼-->
    <mat-divider class="kanban-item-edit-divider"></mat-divider>
    <div class="kanban-item-edit-button-wrapper">
      <button mat-button (click)="onNoClick()">No</button>
      <button mat-button (click)="onYesClick()">Yes</button>
    </div>

  </div>
</div>
