<div #projectCard style="display: inline-block;"
     [ngStyle]="{ 'margin' : marginValue}"
     (pointerenter)="isHovering = true;"
     (pointerleave)="isHovering = false;">
  <mat-card class="project-card-wrapper">
    <mat-card-header class="project-title-wrapper"
                     (click)="onProjectCardClick()"
                     matRipple>
      <mat-card-title class="project-title text-ellipsis">PROJECT {{projectDto.projectTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="project-card-content-wrapper"
                      (click)="onProjectCardClick()"
                      matRipple
                      [ngStyle]="isHovering === true && { 'background' : '#7F7F7F' }">
      <img class="project-card-banner-image"
           src="assets/images/normal-pages/project/project.png">
      <div class="wb-card-participant-wrapper wb-card-hidden"
           [ngClass]="{'wb-card-show' : isHovering}">
        <app-user-overlay-card *ngFor="let currUser of filterParticipantList()"
                               [isHovering]="isHovering"
                               [userName]="currUser.userName"
                               [marginValue]="'6px 0 6px 0'"
                               [imgSize]="'42px'"
                               [fontColor]="'white'"
                               [fontSize]="'16px'"
                               [enableSpashAnime]="true"
                               [imgSrc]="currUser.profileImg">
        </app-user-overlay-card>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>
    <div class="project-card-bottom-wrapper">
      <div class="project-card-title project-card-bottom-row">
        <span class="text-ellipsis">
          프로젝트 게시자 : {{getCreaterName( projectDto.participantList, projectDto.createdBy )}}
        </span>
        <span class="flex-spacer"></span>
        <button mat-button class="project-card-title-button" [matMenuTriggerFor]="projectCardMenu">
          <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #projectCardMenu="matMenu">
          <button mat-menu-item
                  [disabled]="myAuthority"
                  (click)="onProjectEdit()"><span>프로젝트 수정하기</span></button>
          <button mat-menu-item (click)="onProjectExit()"><span>프로젝트에서 나가기</span></button>
        </mat-menu>
      </div>
      <div class="project-card-subtitle project-card-bottom-row">
        <span class="text-ellipsis">시작일 : {{projectDto.startDate | date:"medium"}}</span>
      </div>
    </div>
  </mat-card>

</div>
