<div class="testPanel">

  <mat-card class="debugTableWrapper"
            [ngStyle]="{'width' : debuggerWidth + 'px'}"
            cdkDrag>
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <mat-accordion >
      <!--Angular Debugger-->
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <div>
          <button mat-raised-button
                  (click)="debugingService.logDrawingLayer()">DrawingLayer</button>
          <button mat-raised-button
                  (click)="debugingService.logChildren()">Children</button>
          <hr>
          <button mat-raised-button
                  (click)="showMap()">show Id Map</button>
          <hr>
          <button mat-raised-button
                  (click)="doSortingTest()">Do Sorting Test</button>
          <hr>
          <button mat-raised-button
                  (click)="changeDebuggerSize()">Change Debugger Size</button>
          <hr>
<!--          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Mouse Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.ngCursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.ngCursorY.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Touch Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.ngTouchCursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.ngTouchCursorY.toFixed()}}</td>
            </tr>
          </table>-->

          <table class="debugTable" style="background-color: black; color: white;">
            <tr><td>Sort Test</td></tr>
            <tr *ngFor="let testItem of testArr; index as i">
              <td>{{testItem}}</td>
            </tr>
          </table>
          <br>

          <table *ngIf="workHistoryManager"
            class="debugTable" style="background-color: darkred; color: white;">
            <tr>
              <td>is Processing : </td>
              <td>{{workHistoryManager.isProcessing}}</td>
            </tr>

          </table>
          <br>

          <table class="debugTable" style="background-color: darkred; color: white;">
            <tr><td>Undo Stack</td></tr>
            <tr *ngFor="let currData of undoStack; index as i">
              <td *ngIf="currData.wbItemDtoArray[0]">[{{currData.id}}] : {{getNameOfHistoryEnum(currData.action)}} [{{currData.wbItemDtoArray[0].id}}]</td>
            </tr>
          </table>
          <br>

          <table class="debugTable" style="background-color: black; color: white;">
            <tr><td>Redo Stack</td></tr>
            <tr *ngFor="let currData of redoStack; index as i">
              <td *ngIf="currData.wbItemDtoArray[0]">[{{currData.id}}] : {{getNameOfHistoryEnum(currData.action)}} [{{currData.wbItemDtoArray[0].id}}]</td>
            </tr>
          </table>
          <br>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion >
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zoom Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <div>
          <table class="debugTable" style="background-color: cyan;">
            <tr><td>ZoomDepth</td></tr>
            <tr>
              <td>depth : </td>
              <td>{{infiniteCanvasService.zoomDepth}}</td>
            </tr>
            <tr>
              <td>ZoomValue : </td>
              <td>X{{paperProject.view.zoom.toFixed()}}</td>
            </tr>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion >

    <mat-accordion >
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paper Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
<!--        <div>
          <table class="debugTable" style="background-color: orange;">
            <tr><td>Paper Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.cursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.cursorY.toFixed()}}</td>
            </tr>
          </table>
        </div>-->
        <div>
          <h3>Whiteboard Item Array</h3>
          <table class="debugTable" style="background-color: orange;">
            <thead>
              <tr>
                <th>ID</th>
                <th>TYPE</th>
                <th>PAPER-IDX</th>
                <th>GACHI-IDX</th>
              </tr>
            </thead>
            <tbody style="text-align: center">
              <tr *ngFor="let wbItem of layerService.whiteboardItemArray"
                  style="background-color: black; margin-bottom: 6px; color: white; padding: 5px;">
                <td>[ {{wbItem.id}} ]</td>
                <td>{{getWbItemTypeName(wbItem.type)}}</td>
                <td>{{wbItem.group.index}}</td>
                <td>{{wbItem.zIndex}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion >

    <mat-accordion >
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            UserBlinder Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <h3>Whiteboard Item Array</h3>
        <table class="debugTable" style="background-color: orange;">
          <thead>
          <tr>
            <!--<th>UID</th>-->
            <th>NAME</th>
            <th>IsVisible</th>
            <th>BlindRect</th>
            <th>BliendText</th>
            <th>BliendTextBG</th>
          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr *ngFor="let userBlinder of blindMapToArray()"
              style="background-color: black; margin-bottom: 6px; color: white; padding: 5px;">
            <!--<td>{{userBlinder.userIdToken}}</td>-->
            <td>{{userBlinder.userName}}</td>
            <td>{{userBlinder.blindGroup.visible}}</td>
            <td>{{userBlinder.blindRect.bounds.width.toFixed(1)}} / {{userBlinder.blindRect.bounds.height.toFixed(1)}}</td>
            <td>{{userBlinder.blindText.bounds.width.toFixed(1)}} / {{userBlinder.blindText.bounds.height.toFixed(1)}}</td>
            <td>{{userBlinder.blindTextBg.bounds.width.toFixed(1)}} / {{userBlinder.blindTextBg.bounds.height.toFixed(1)}}</td>
          </tr>
          </tbody>
        </table>

      </mat-expansion-panel>
    </mat-accordion >

    <mat-accordion *ngIf="layerService.drawingLayer">
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paper DrawingLayer
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <h3>Paper Item Array</h3>
        <table class="debugTable" style="background-color: orange;">
          <thead>
          <tr>
            <!--<th>UID</th>-->
            <th>ID</th>
            <th>NAME</th>
            <th>INDEX</th>
            <th>visible</th>
            <th>width</th>
            <th>height</th>
          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr *ngFor="let paperItem of layerService.drawingLayer.children"
              style="background-color: black; margin-bottom: 6px; color: white; padding: 5px;">
            <!--<td>{{userBlinder.userIdToken}}</td>-->
            <td>{{paperItem.id}}</td>
            <td>{{paperItem.name}}</td>
            <td>{{paperItem.index}}</td>
            <td>{{paperItem.visible}}</td>
            <td>{{paperItem.bounds.width.toFixed(1)}}</td>
            <td>{{paperItem.bounds.height.toFixed(1)}}</td>
          </tr>
          </tbody>
        </table>

      </mat-expansion-panel>
    </mat-accordion >


  </mat-card>

</div>


