.testPanel{
  display: inline-block;
  position: fixed;
  top: 36px;
  left: 36px;
}
.debugTable{
  display: inline-block;
  border: 1px solid black;
}
.debugTableWrapper{
  display: inline-block;
  position: fixed;
  left: 12px;
  top: 12px;
  width: 250px;
  font-size: 11px;
}

.example-handle {
  position: absolute;
  top: -10px;
  left: -10px;
  color: black;
  cursor: move;
  width: 24px;
  height: 24px;
}
