<div class="testPanel">

  <mat-card class="debugTableWrapper" cdkDrag>
    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <mat-accordion >
      <!--Angular Debugger-->
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <div>
          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Window Bound</td></tr>
            <tr>
              <td>X : </td>
              <td>{{posCalcService.getBottomRightPositionOfBrowser().x.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{posCalcService.getBottomRightPositionOfBrowser().y.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Window Center</td></tr>
            <tr>
              <td>X : </td>
              <td>{{(posCalcService.getBottomRightPositionOfBrowser().x/2).toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{(posCalcService.getBottomRightPositionOfBrowser().y/2).toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Mouse Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.ngCursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.ngCursorY.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: blue; color: white;">
            <tr><td>NG Touch Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.ngTouchCursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.ngTouchCursorY.toFixed()}}</td>
            </tr>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion >
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zoom Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <div>
          <table class="debugTable" style="background-color: cyan;">
            <tr><td>ZoomDepth</td></tr>
            <tr>
              <td>depth : </td>
              <td>{{infiniteCanvasService.zoomDepth}}</td>
            </tr>
            <tr>
              <td>ZoomValue : </td>
              <td>X{{paperProject.view.zoom.toFixed()}}</td>
            </tr>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion >

    <mat-accordion >
      <mat-expansion-panel>
        <!--   Header   -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paper Information
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--   Content   -->
        <div>
          <table class="debugTable" style="background-color: orange;">
            <tr><td>Paper Position</td></tr>
            <tr>
              <td>X : </td>
              <td>{{debugingService.cursorX.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{debugingService.cursorY.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: orange;">
            <tr><td>Paper View</td></tr>
            <tr>
              <td>X : </td>
              <td>{{paperProject.view.center.x.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{paperProject.view.center.y.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: orange;">
            <tr><td>Paper View Bound-TopLeft</td></tr>
            <tr>
              <td>X : </td>
              <td>{{paperProject.view.bounds.topLeft.x.toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{paperProject.view.bounds.topLeft.y.toFixed()}}</td>
            </tr>
          </table>
          <table class="debugTable" style="background-color: orange;">
            <tr><td>Paper View Bound Size</td></tr>
            <tr>
              <td>X : </td>
              <td>{{ (posCalcService.getBottomRightPositionOfBrowser().x / posCalcService.getZoomState()).toFixed()}}</td>
            </tr>
            <tr>
              <td>Y : </td>
              <td>{{ posCalcService.getBottomRightPositionOfBrowser().y / (posCalcService.getZoomState()).toFixed()}}</td>
            </tr>
          </table>
        </div>

      </mat-expansion-panel>
    </mat-accordion >
  </mat-card>

</div>


