<div class="popup-main-panel popup-panel-box popup-commons-panel"
     id="supporter-KANBAN">

  <div class="popup-kanban-card-wrapper
                    popup-panel-box popup-card-wrapper panel-main">
    <mat-toolbar color="primary" class="panel-main-header-wrapper">
      <mat-toolbar-row class="panel-main-header">
        <span class="project-supporter-card-title">
          <!--<mat-icon class="example-icon" aria-hidden="false"
                    aria-label="Example user verified icon">verified_user</mat-icon>-->
          <div class="panel-main-header-left">
            <div class="icon-tools-kanban project-supporter-card-title-icon"></div>
          </div>
          <div class="panel-main-header-left">KANBAN</div>
          <button mat-button color="Basic"
                  style="padding: 0;"
                  [matMenuTriggerFor]="appMenuKanbanSetting"
                  class="panel-main-header-left">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="kanban setting button">more_vert</mat-icon>
          </button>
          <mat-menu #appMenuKanbanSetting="matMenu">
            <button mat-menu-item (click)="onTagManagement()">태그 관리</button>
            <button mat-menu-item (click)="onKanbanGroupSetting()">칸반 그룹 설정</button>
          </mat-menu>

        </span>
        <span class="flex-spacer"></span>
        <button mat-button color="Basic"
                (click)="onNoClick()">
          <mat-icon class="example-icon"
                    aria-hidden="false"
                    aria-label="kanban close button">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card-content class="popup-panel-row content">
      <!--#####여기서 팝업패널 내용 작성할 것######-->
      <div class="popup-panel-content">
        <mat-card class="kanban-grid"
                  cdkDropListGroup>
          <!--######칸반 셀 - 1-->
          <mat-card *ngFor="let group of kanbanGroupWrapper"
                    class="kanban-grid-cell card-1"
                    [ngStyle]="{'height' : htmlHelperService.getHeightOfBrowser() - 160 + 'px'}">
            <mat-toolbar color="{{group.groupColor}}" class="kanban-group-header">
              <mat-toolbar-row>
                <span class="flex-spacer"></span>
                <span>
                  <span style="margin-right: 8px">(</span>
                   {{group.title}} : {{group.kanbanItemList.length}}
                  <span style="margin-left: 8px">)</span>
                </span>
                <span class="flex-spacer"></span>
                <button mat-button
                        (click)="onCreateItem(group)"
                        class="kanban-create-item-btn">
                  <mat-icon class="example-icon"
                            aria-hidden="false"
                            aria-label="kanban title add button">add_circle
                  </mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>


            <mat-card class="kanban-drop-zone scrollbar-{{group.groupColor}}"
                      cdkDropList
                      (pointerdown)="isDragging = true"
                      (pointerup)="isDragging = false"
                      (pointerenter)="group.isFocused = true"
                      (pointerleave)="group.isFocused = false"
                      [ngClass]="{'card-1-focused' : group.isFocused && isDragging}"
                      [ngStyle]="{'height' : htmlHelperService.getHeightOfBrowser() - 270 + 'px'}"
                      [cdkDropListData]="group.kanbanItemList"
                      (cdkDropListDropped)="drop($event)">
              <!--그리드 셀 컨텐츠( 여기서 칸반 아이템 출력 )-->
              <!--칸반 아이템-->
              <mat-card *ngFor="let item of group.kanbanItemList"
                        cdkDrag
                        class="kanban-item-card"
                        [cdkDragDisabled]="item.lockedBy"
                        [ngClass]="{'kanban-item-disabled' : item.lockedBy}">
                <mat-card class="example-custom-placeholder" *cdkDragPlaceholder></mat-card>
                <div *ngIf="item.lockedBy && checkEditorIsAnotherUser(item.lockedBy)"><span>{{getUserName(item.lockedBy)}}에 의해 수정중...</span></div>
                <div class="kanban-item-title-left-color"
                     [ngStyle]="{ 'background-color' : item.getColor() }"></div>

                <mat-card-title class="kanban-item-title">
                  <p class="text-ellipsis" matTooltip="{{item.title}}">{{item.title}}</p>
                  <span class="flex-spacer"></span>
                  <button mat-button
                          [matMenuTriggerFor]="menu"
                          class="kanban-item-title-edit-btn">
                    <mat-icon class="example-icon"
                              aria-hidden="false"
                              aria-label="kanban title edit button">more_vert
                    </mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item
                            (click)="onEditBtnClick(item)">수정</button>
                    <button mat-menu-item
                            (click)="deleteFrom( item, group )">삭제</button>
                  </mat-menu>
                </mat-card-title>

                <mat-card class="kanban-item-manager-wrapper"
                          (pointerdown)="requestLock(item, group)"
                          (pointerup)="requestRelease(item, group)"
                          cdkDragHandle>
                  <img mat-card-image
                       class="kanban-item-manager-image"
                       src="{{item.userInfo.profileImg}}"/>
                  <mat-card-subtitle class="kanban-item-manager-name text-ellipsis">
                    {{item.userInfo.userName}}
                  </mat-card-subtitle>
                </mat-card>
                <!--마테리얼 칩 영역-->
                <app-kanban-tag-list [kanbanItem]="item">
                </app-kanban-tag-list>
              </mat-card>
              <!--칸반 아이템-->

            </mat-card>

          </mat-card>

        </mat-card>
      </div>
      <!--####################################-->
    </mat-card-content>

  </div>


</div>
