.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.kanban-item-edit-content{
  padding: 25px 12px;
}
.kanban-item-edit-button-wrapper{
  display: flex;
  flex-flow: row-reverse;
}
.kanban-item-edit-divider{
  margin-top: 16px;
  margin-bottom: 16px;
}
.gachi-time-picker-wrapper{
  display: flex;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid rgba(0,0,0,.09);
}
