<div>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>
          <mat-icon class="example-icon"
                    aria-hidden="false"
                    aria-label="kanban title edit button">edit
          </mat-icon>
          칸반 수정하기
        </span>
      <span class="flex-spacer"></span>
      <button mat-button color="Basic"
              (click)="onNoClick()">
        <mat-icon class="example-icon"
                  aria-hidden="false"
                  aria-label="kanban close button">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="kanban-item-edit-content">
    <form class="example-form" (ngSubmit)="onSubmit()">
      <!--#1 사용자 변경-->
      <mat-form-field>
        <mat-label>Task Manager</mat-label>
        <mat-select [formControl]="userFormControl">
          <mat-option *ngFor="let userData of userManagerService.getUserList()"
                      value="{{userData.idToken}}">{{userData.userName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <br/>

      <!--#2 색상 변경-->
      <mat-form-field>
        <mat-label>Kanban Color</mat-label>
        <mat-select [formControl]="colorFormControl" value="0">
          <mat-option *ngFor="let color of colorService.getEnumEntryArray()"
                      value="{{color}}">{{colorService.getEnumData()[color]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!--#3 타이틀 변경-->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Kanban title"
               [formControl]="titleFormControl">
        <mat-error *ngIf="titleFormControl.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-label>타이머 시작일</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="startDateFormControl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>타이머 시작시각</mat-label>
        <div class="gachi-time-picker-wrapper">
          <input matInput [formControl]="startTimeFormControl"
                 [ngxTimepicker]="toggleIcon"
                 [disableClick]="true" readonly>
          <ngx-material-timepicker-toggle [for]="toggleIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
              <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
            </svg>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
        </div>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field >
        <mat-label>타이머 종료일</mat-label>
        <input matInput [matDatepicker]="endPicker" [formControl]="endDateFormControl" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field >
        <mat-label>타이머 종료시각</mat-label>
        <div class="gachi-time-picker-wrapper">
          <input matInput [formControl]="endTimeFormControl"
                 [ngxTimepicker]="endToggleIcon"
                 [disableClick]="true" readonly>
          <ngx-material-timepicker-toggle [for]="endToggleIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
              <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
            </svg>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #endToggleIcon></ngx-material-timepicker>
        </div>
      </mat-form-field>




      <mat-divider class="kanban-item-edit-divider"></mat-divider>
      <div class="kanban-item-edit-button-wrapper">
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="button" (click)="onResetClick()">Reset</button>
        <button mat-button type="submit">Save</button>
      </div>
    </form>

  </div>
</div>
