<div>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>
          <mat-icon class="example-icon"
                    aria-hidden="false"
                    aria-label="kanban title edit button">edit
          </mat-icon>
          칸반 수정하기
        </span>
      <span class="flex-spacer"></span>
      <button mat-button color="Basic"
              (click)="onNoClick()">
        <mat-icon class="example-icon"
                  aria-hidden="false"
                  aria-label="kanban close button">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="kanban-item-edit-content">
    <form class="example-form" (ngSubmit)="onSubmit()">
      <!--#1 사용자 변경-->
      <mat-form-field>
        <mat-label>Task Manager</mat-label>
        <mat-select [formControl]="userFormControl">
          <mat-option *ngFor="let userData of userManagerService.getUserList()"
                      value="{{userData.idToken}}">{{userData.userName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <br/>

      <!--#2 색상 변경-->
      <mat-form-field>
        <mat-label>Kanban Color</mat-label>
        <mat-select [formControl]="colorFormControl" value="0">
          <mat-option *ngFor="let color of colorService.getEnumEntryArray()"
                      value="{{color}}">{{colorService.getEnumData()[color]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!--#3 타이틀 변경-->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Kanban title"
               [formControl]="titleFormControl">
        <mat-error *ngIf="titleFormControl.hasError('required')">
          title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-divider class="kanban-item-edit-divider"></mat-divider>
      <div class="kanban-item-edit-button-wrapper">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onResetClick()">Reset</button>
        <button mat-button type="submit">Save</button>
      </div>
    </form>

  </div>
</div>
